/* Global */


body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    padding: 20%;
}

p {
    text-align: justify;
}

/* Responsive */

@media (max-width: 768px) {
	
    body {
        margin: 0;
        padding: 0;
        background: antiquewhite;
    }

    div{
        padding: 30px;
        color: black;
        font-family: 'Courier New', Courier, monospace;

    }

    h2{
        text-align: center;
        font-size: 7vw;
    }

    p{
        text-align: justify;
        font-size: 4vw;
    }
  }